@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

header {
    background-color: var(--color-header-bg);
}

.navbar {
    background-color: var(--color-navbar-bg);
    color: var(--color-text-main);
}

main {
    background-color: var(--color-main-bg);
    min-height: 100vh;
}

footer {
    background-color: var(--color-footer-bg);
    min-height: 100px;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: auto;
    color: var(--color-text-main);
}

.container {
    max-width: 100vw;
    padding-top: 43px;
    padding-left: 61px;
    padding-right: 61px;
}

.main-search {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 7px;
}

.search-bar {
    background-color: var(--color-search-bg);
    border: 3px solid var(--color-search-border);
    border-radius: 3px;
    color: var(--color-text-main);
}

section {
    margin-top: 25px;
}

.section-title {
    color: var(--color-text-main);
}

.interest-list {
    background-color: var(--color-interests-bg);
    border: 4px solid var(--color-interests-border);
    border-radius: 17px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-list-item {
    background-color: var(--color-game-bg);
    border: 3px solid var(--color-game-border);
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 100%;
}

.game-name {
    color: var(--color-text-main);
    font-size: 20px;
}

.tags {
    color: var(--color-text-secondary);
    font-size: 15px;
}

.paid-cost {
    color: var(--color-price-paid);
    font-size: 28px;
}

.free-cost {
    color: var(--color-price-free);
    font-size: 28px;
}

.more-btn {
    background-color: var(--color-button-bg);
    border: 3px solid var(--color-button-border);
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 5 40px;
    width: 200px;
    color: var(--color-text-main);
}

.navbar-colors {
    --bs-emphasis-color-rgb: 255, 255, 255;
}

.cart-button {
    background-color: var(--color-cart-btn-bg);
    border: 3px solid var(--color-cart-btn-border);
    border-radius: 4px;
    color: var(--color-text-main);
    text-decoration: none;
}

#popularCarousel {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-carousel-bg);
}

.carousel-item {
    width: 100%;
    aspect-ratio: 16/9;
}

.game-logo {
    width: 21px;
    height: 21px;
}

.add-to-cart,
.remove-from-cart {
    position: absolute;
    left: 7px;
    top: 8px;
    height: 21px;
    width: 21px;
    background-color: var(--color-add-btn-bg);
    color: #fff;
    border: 2px solid var(--color-add-btn-border);
    border-radius: 2px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-list-item:hover > .add-to-cart,
.game-list-item:hover > .remove-from-cart {
    display: flex;
}

.in-cart-list {
    margin-top: 30px;
}




body {
    --color-header-bg: #4500BC;
    --color-navbar-bg: #4500BC;
    --color-main-bg: #2C006B;
    --color-footer-bg: #170055;

    --color-text-main: #ffffff;
    --color-text-secondary: #FFFFFF88;

    --color-search-bg: #3E00FF;
    --color-search-border: #5023DB;

    --color-interests-bg: #20004C54;
    --color-interests-border: #000000;

    --color-game-bg: #230053;
    --color-game-border: #470068;

    --color-price-paid: #7B00FF;
    --color-price-free: #ffffff;

    --color-button-bg: #230053;
    --color-button-border: #470068;

    --color-cart-btn-bg: #230053;
    --color-cart-btn-border: #470068;

    --color-add-btn-bg: #7B00FF;
    --color-add-btn-border: #470068;

    --color-carousel-bg: transparent;

    --color-toggle-text: #ffffff;
}

body.light-theme  {
    --color-header-bg: #4500BC;
    --color-navbar-bg: #4500BC;
    --color-main-bg: #f3f2ff;
    --color-footer-bg: #170055;

    --color-text-main: #1a1a1a;
    --color-text-secondary: #444444;

    --color-search-bg: #ffffff;
    --color-search-border: #b6b6ff;

    --color-interests-bg: #ffffff;
    --color-interests-border: #c3c3c3;

    --color-game-bg: #ffffff;
    --color-game-border: #bcbcbc;

    --color-price-paid: #6a00d4;
    --color-price-free: #000000;

    --color-button-bg: #ffffff;
    --color-button-border: #b2b2b2;

    --color-cart-btn-bg: #ffffff;
    --color-cart-btn-border: #b2b2b2;

    --color-add-btn-bg: #6a00d4;
    --color-add-btn-border: #a085ff;

    --color-carousel-bg: transparent;

    --color-toggle-text: #000000;
}
#themeToggle {
  background: transparent;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 100%;
  transition: 0.4s transform linear;
  margin: 10px;
  border-color: transparent;
}

#themeToggle:hover {
  transform: scale(1.3);
  transition: 0.4s transform linear;
  box-shadow: inset 0px 0px 5px rgb(187, 187, 187);
}

#themeToggle:active {
  transform: scale(0.9);
  transition-duration: .2s;
}


.modal {
    --bs-modal-color: black;
}